<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StartUp.Properties.Settings.DataSourceConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;persist security info=True; 
            Integrated Security=SSPI;"
            providerName="System.Data.SqlClient" />
      <add name="SqLiteConn" connectionString="Data Source=.\EmployeeAdministration.db; Version=3"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="XmlPath" value="\TestXml.xml"/>
  </appSettings>
</configuration>